In [12]:
# Import dependencies
import pandas as pd
import os

In [13]:
# Load file from resources folder 
data_file = os.path.join(".git", "PyPoll", "Resources", "election_data.csv" )

In [14]:
# Read and display file with panda
data_file_df = pd.read_csv(data_file)
data_file_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [15]:
# Find names of all candidates
data_file_df["Candidate"].unique()

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [16]:
# Calculate total votes cast 
Votecount = data_file_df["Candidate"].value_counts()
Votecount

Khan        661583
Correy      209046
Li          146360
O'Tooley     31586
Name: Candidate, dtype: int64

In [30]:
# Look at data for each candidate / count votes by candidate

Can_count = data_file_df.groupby("Candidate")

# Group by candidate within "Candidate" and count values by candidate; total values 
Khancount = int(Can_count.get_group("Khan")["Candidate"].value_counts())
Correycount = int(Can_count.get_group("Correy")["Candidate"].value_counts())
Licount = int(Can_count.get_group("Li")["Candidate"].value_counts())
Otoolcount = int(Can_count.get_group("O'Tooley")["Candidate"].value_counts())
Totcount = Khancount + Correycount + Licount + Otoolcount

# Calculate percentage of votes received

Khanpcnt = Khancount / Totcount
Correypcnt = Correycount / Totcount
Lipcnt = Licount / Totcount
Otoolpcnt = Otoolcount / Totcount

# Create dictionary to store keys and values and format output

Output = {"Candidates":  ["Khan", "Correy", "Li", "O'Tooley"],
          "Votes": [Khancount, Correycount, Licount, Otoolcount], 
          "% of Total": [Khanpcnt, Correypcnt, Lipcnt, Otoolpcnt]
         }
pd.DataFrame(Output)

  Candidates   Votes  % of Total
0       Khan  661583    0.630935
1     Correy  209046    0.199362
2         Li  146360    0.139580
3   O'Tooley   31586    0.030123